*{
    margin:0;
    padding:0;
}

html{
    overflow-x: hidden;
}

.input{
    display: inline-block;
    width: 210px;
    padding: 4px;
    margin: 0;
    outline: 0;
    border: 1px solid #e1e8ed;
    border-radius: 2px;
}

p, h1{
    cursor: default;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 46px;
    background: #2E2C2D;
}

.bg-image{
    height: 768px;
    background: url(http://test/images/bg.png) 100% 100% no-repeat;
    background-size: cover;
}

.bg-alpha {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
}

.logo{
    margin-left: 75px;
    margin-top: 3px;
}

.header a {
    color: #FFFFFF;
    font-family: 'Proxima Nova Light',Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 10px 11px 10px;
}

.header a:hover {
   border-bottom: 3px solid #23f8ff;
}

.LogoutButton input{
    color: #FFFFFF;
    font-family: 'Proxima Nova Light',Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 13px 10px 12px 10px;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    border: none;
    outline: none;
}

.LogoutButton input:hover{
    border-bottom: 3px solid #23f8ff;
}

.centerTable{
    background-size: cover;
    width: 1349px;
    background-position: center;
    height: 320px;
}


.centerTable .userPhoto{
    position: absolute;
    margin-left: 145px;
    margin-top: 120px;
    width: 226px;
    height: 226px;
    background-size: cover;
    background-position: center;
    border: 3px solid #fff;
    border-radius: 2px;
}

.nameSurname{
    position: absolute;
    margin-left: -940px;
    margin-top: 116px;
    color: #fff;
    font-family: 'Proxima Nova Light',Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 19px;
}

.texst a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    position: absolute;
    border: 2px solid white;
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 213px;
    margin-top: 20px;
}

.texst a:hover {
    background-color: rgba(26, 26, 26, 0.5);
}

.centerTable .h1{
    width: 560px;
    margin-left: 0%;
    font-size: 30px;
    line-height: 100%;
    font-family: 'Proxima Nova Light',Arial,'Helvetica Neue',Helvetica,sans-serif;
    -ms-transform: translate(0,30px);
    color: #FFF;
}

.centerTable .p {
    margin-left: 0%;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Proxima Nova Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    -ms-transform: translate(0, 30px);
    color: #FFF;
}

.textSignup{
    font-family: sans-serif;
    font-size: 13px;
    padding: 4px 0px;
}

.photoes{
    margin-top: 55px;
}

.photoes table{
    background-color: rgba(255, 184, 0, 0.15);
    width: 720px;
    height: 120px;
}

.photoes p {
    margin-left: -430px;
    margin-top: 8px;
    font-family: 'Proxima Nova Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 19px;
}

.photoes img {
    padding: 10px;
    width: 220px;
    height: 165px;
}

.galeryFile{
    margin-top: 25px;
    margin-left: 17px;
}

.submit_galeryFile{
    margin-top: 0px;
    margin-left: 600px;
    color: #fff;
    background-color: #EF282F;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    border: 1px solid #9E0D12;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wall{
    margin-top: 40px;
}

.wall textarea {
    color: #2C2C2D;
    font-family: 'Proxima Nova Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    outline:none;
    resize: none;
    padding: 5px;
    border: none;
}

.wall_post_sub {
    margin-top: 0px;
    margin-left: 600px;
    color: #fff;
    background-color: #EF282F;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    border: 1px solid #9E0D12;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wall_top_cover{
    background-color: rgba(255, 184, 0, 0.43);
    padding: 6px 12px;
    width: 635px;
}

.wall_middle_cover {
    background-color: rgba(255, 184, 0, 0.15);
    padding: 10px;
    width: 720px;
}

.wall_top_cover a {
    color: #091F32;
    font-family: 'Proxima Nova Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.user_message{
    border-bottom: 1px solid rgb(199, 199, 199);
    margin-left: 50px;
}

.user_message .photoOfUser {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    position: relative;
    top: 10px;
    left: 10px;
}

.nameAndSurname{
    margin-left: 20px;
    margin-top: -40px;
    font-family: 'Proxima Nova Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
}

.TimeOfComment {
    margin-left: 20px;
    margin-top: 0px;
    font-family: 'Proxima Nova Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
}

.userComment {
    background-color: rgba(231, 220, 220, 0);
    padding: 15px 10px 15px 10px;
    text-align: left;
    font-family: Georgia;
    font-size: 16px;
    max-width: 610px;
    width: 610px;
}

.footer p {
    line-height: 230px;
    font-family: 'Proxima Nova Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    -ms-transform: translate(0, 30px);
    color: #000000;
    font-size: 15px;
    text-align: center;
}